/*
 * @footer
 * @author: jnanda
 */
footer {
  display: flex;
  min-height: 300px;
  justify-content: center;

  p {
    font-size: 0.8em;
    align-self: flex-end;
    padding: 30px;
    span {
      color: #99b9d6;
    }
  }
}

@media screen and (max-width: 640px) {
  footer {
    p {
      font-size: 0.5em;
    }
  }
}
