/*
 * @theme-variables
 * @author: jnanda
 */

$body-bg-alpha: #282c34;
$header-bg-alpha: $body-bg-alpha;
$nav-selected-color: #99b9d6;
$font-alpha: Arial, Helvetica, sans-serif;
$font-color-alpha: #dcdee0;
$intro-bg-alpha: $font-color-alpha;
$intro-border-alpha: #282c34;
$main-content-bg-alpha: #3d3f42;
$content-section-h3-font-color: #c9ced4;
$content-section-paragraph-font-color: $nav-selected-color;
$content-section-button-bg-color: $content-section-h3-font-color;
$content-section-button-font-color: $body-bg-alpha;
$footer-bg-alpha: $body-bg-alpha;